*{
    outline: none;
    border:none;
}


/*test*/


.dropContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}


.fa-caret-down{
    color: #ccc;
}

.list{
    opacity:0;
    visibility:hidden;
    position:absolute;
    background-color: white;
    height: 200px;
    overflow:scroll;
    width:250px;
    z-index: 2;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);

    transform: none;
    transition: opacity 289ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 192ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 32px;
}

.full{
    width:100%;
}

.half{
    width: 45%;
}

.list li{
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding:10px;
} 

.list li:hover{
    background-color: rgba(0, 0, 0, 0.04);
} 



.selectedMonth {
    position: absolute;
    pointer-events: none;
    left: 10px;
    bottom: 5px; 
    font-size: 14px;
}



/*test*/

.question {
    visibility: hidden;
    width:40%;
    margin:50px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    opacity:0;
    transition :all 0.5s ease-in-out;
    position: absolute;
    top:0;
    left:50%;
    transform:translate(-50%,0);
}

.options{
    background-color: #1B6DC1;
    color:white;
    border-radius: 5px;
    /* width:40%; */
    margin:20px auto;
    
    padding: 16px 8px;
    cursor: pointer;
}

.options:hover{
    background-color: #1d77d4;
}

.qlabel{
    font-size: 21px;
    font-family: Muli, sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}


#question8 input{
    display: block;
    /* width:45%; */
}

input[type="radio"]{
    display: none;
}

#question7 input[type="radio"]{
    display: block;
}


#question4 label{
    font-size: 16px;
    color: grey;
}

#question4 select{
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding: 8px;
}

.btn{
    background-color: #0E91C7;
    color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 20px 0px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
    background-color: rgb(14, 145, 199);
}


.inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.radioBlock{
    display:flex;
    text-align: center;
    margin:20px 0px;
}

#question7 input[type="radio"]{
    accent-color: green;
}


/* styles.css */
.input-container {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.input-container label,.dropContainer label{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 5px; 
    transition: top 0.3s, font-size 0.3s;
    font-size: 14px;
    color: rgb(126, 125, 125);
}

input:focus + label{
    top: 0px; /* Move label up */
    font-size: 10px; /* Shrink label font size */

}


.input-container input {
    width: 100%;
    padding: 10px 0px;
    padding-bottom: 5px;
    margin-top: 8px;
    border:none;
    border-bottom: 1px solid #ccc;
    background-color: white;

}

input:hover {
    border:none ;
    border-bottom: 1px solid black;
}

.input-container input:focus {
    border:none ;
    outline: none;
    border-bottom: 2px solid green;
}
        
#question9 label{
    left:0px;
    font-size: 11px;
}

#question9 input{
    padding-top: 15px;
}

.back{
    color: #838383;
    font-size: 13px;
    float: left;
    cursor: pointer;
}